/* Navbar */

#nav #nav-items header p {
    font-size: 1.1rem !important;
}

#nav-items {
    justify-content: space-between;

}

#items ul {
    display: none;
}

#menu {

    display: block;

}

#mobile-menu-items ul li a:last-of-type {
    padding: 0.5rem;
}

.menu-items-display {
    display: block !important;
    bottom: 0 !important;

}


/* Showcase */

#showcase-section {
    height: 103vh;
}

#showcase-content {
    padding: 0;
    margin-top: 0.5rem;
}

/* Brief Section */

#brief-section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 0rem;
    text-align: center;
}

#brief-section h2 {
    font-size: 1.5rem;
}

#brief-section #text {
    order: 2;
}

#brief-section #text .btn {
    margin-right: 0.2rem;
}

#brief-section .image-container {
    width: 100%;
    height: 100%;
    order: 1;
}

.about-brief #text {
    order: 1 !important;
}
.about-brief .image-container {
    order: 2 !important;
}

/* Services */

#services {
    padding: 2rem;
}

#services .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;

}

#services .btn {
    margin-right: 0.5rem;
}

/* Our Team */

#team {
    flex-direction: column;
    text-align: center;
}

/* Our Fleet */

#fleet-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}

.fleet-item > * {
    margin-bottom: 1rem;
}

.btn-container .btn {
    margin-right: 0;
}

/* Contact */

.fields {
    grid-template-areas:
        'name'
        'email'
        'phone'
        'subject'
        'message'
        'button';

    justify-content: center;
}

#contact-form input,
#contact-form textarea {
    margin: 0.5rem 0;
}

.form-wrapper {
    width: 80%;
}


/* Footer */

footer {
    flex-direction: column;
}

footer > * {
    margin-bottom: 1.5rem;
}

@media (max-width: 320px) {

    .btn {
        margin: 0.2rem 0 !important;
        padding: 0.5rem;
    }
}

footer span {
    margin-right: 0;
}

/* Galaxy Fold */

@media (max-width: 280px) {
    #brief-section .btn {
        display: block;
        margin-bottom: 0.25rem !important;

    }

    .btn-container {
        flex-direction: column;
        margin-bottom: 0.25rem;
    }

    #showcase-content {
        padding: 0;
        margin-top: 0.25rem;
    }

    #nav #nav-items header p {
        font-size: 1rem !important;
    }

    #aboutus-showcase {
        font-size: 1.3rem;
    }
}
